@charset "utf-8";
*{
	font-family: Arial;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
.header {
	background-image: url('bgheader.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 120px;
	width: 100%;
	display: flex ;
	border-bottom: orange solid 5px;
}
.header_logo{
	margin-top: 10px;
	margin-left: 35px;
}
.header_search{
	margin-top: 35px;
	margin-left: 55px;
	border-radius: 40px;
	border: orange solid 1px;
	height: 35px;
	width: 300px;
}
#search{
	margin-left: 20px;
	border: none;
	height: 33px;
	width: 240px;
	text-align-last: left;
}
.header_menu {
	margin-top: 35px;
	margin-left: 70px;
}
.header_menu ul{
	list-style: none;
	display: flex;

}

.header_menu ul li{
	text-align: center;
	padding: 0px 20px;
}

.header_menu ul a{
	width: 100px;
	height: 100px;
	color: black;
}
.header_menu ul a:hover{
	color: orange;
}

.header_log {
	margin-top: 35px;
	margin-left: 35px;
	background: transparent;
}
.header_log ul {
	list-style: none;
	display: flex;
}
.header_log ul a{
	color: orange;
	border: orange solid 1px;
	padding: 5px 5px;
	margin-left: 5px;
}
.header_log ul a:hover{
	color: white;
	background-color: orange;
}
.list-brand{
	width: 1358px;
	padding: 45px 0 40px;
	padding-left: 60px;
}
.title {
	font-size: 16px;
	margin-left: 20px;
}
.list-brand-box{
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
    text-align: center;
    padding : 0px 180px 0px 180px;
}
.brand{
	width: 193px;
	height: 327px;
	border-radius: 9px ;
	border: 1px solid rgb(180, 179, 179);
    margin-left: 25px;
    margin-bottom: 25px;
	overflow: hidden;

}
.brand img{
	width: 100%;
	height: 192px;
	border-radius: 9px ;
}
.brand img:hover{
	transition: opacity 0.4s, transform 0.35s;
	transform: scale3d(1.02, 1.02,1);
	
}
.brand h3 {
	font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 16px;
    margin-top: 5px;
    vertical-align: top;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    font-weight: 600;
    overflow: hidden;
}
.brand .price span{
    font-weight: 600;
    color: #d88821;
}
.btn-more{
	width: 127px;
	height: 30px;
	margin-top: 10px;
	margin-left: 60px;
	border: 1px solid #dd8f22;
	border-radius: 16px;
	color: #d88821;
	padding: 3px 13px 1px;
    line-height: 24px;
}

.footer {
    margin-top: 40px;
	background-image: linear-gradient(#56381e47 -126%,#b78337 100%);
	
    color: white;
}
.bor-top {
	width: 60px;
	border-top: orange solid 1px;
}
.row.fter {
    width: 80%;
    margin: auto;
	padding-top: 40px;
	display: flex;
}
.col-fter {
	width: 20%;
	margin-left: 45px;
}
.col-fter ul{
	display: inline-block;
	list-style: none;
	margin-top: 20px;
	
}
.col-fter a{
	color: white;
}
.row.fter .col-fter  li {
	font-size: 14px;
	margin-top: 10px;
}

.col-fter img {
    width: 75px;
	float: left;
	border-radius: 5px ;
}
.bot{
	text-align: center;
	padding: 13px 0;
	background: #f9f9f9;
}