.banner{
    position: relative;
}
.banner .img{
    height: 465px;
    overflow: hidden;
    
}
.conten {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 60px;
}
.conten .text-center{
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 800;
    margin-top: 140px;
    text-align: center;
    vertical-align: middle;
    font-family: Gotham-Ultra;
}

.intro{
    padding: 1em 1.5em;
    background: #fff;
    margin: -4em 0 2em 0;
    position: relative;
}
.intro .box{
    margin-top: 20px;
}
.intro .content .title{
    text-transform: uppercase;
    color: #bd945f;
    font-size: 1.15rem;
    margin: 0 0 .5rem 0 ;
    font-family: "Gotham-Ultra";
}
.intro .content .desc{
    font-size: 14px;
}